<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="tests/bootstrap.php"
>
    <!-- php>
        <var name="db_pg_host" value="localhost" />
        <var name="db_pg_port" value="5432"/>
        <var name="db_pg_username" value="postgres" />
        <var name="db_pg_password" value="" />
        <var name="db_pg_db_name" value="phive_tests" />

        <var name="mongo_server" value="mongodb://localhost:27017" />

        <var name="redis_host" value="127.0.0.1" />
        <var name="redis_port" value="6379" />
    </php -->

    <testsuites>
        <testsuite name="Phive Queue Test Suite">
            <directory>./tests/Phive/</directory>
        </testsuite>
    </testsuites>
</phpunit>