<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <var name="db_pdo_pgsql_dsn" value="pgsql:host=127.0.0.1;port=5432;dbname=phive_tests" />
        <var name="db_pdo_pgsql_username" value="postgres" />
        <var name="db_pdo_pgsql_password" value="" />
        <var name="db_pdo_pgsql_table_name" value="queue" />

        <var name="db_pdo_mysql_dsn" value="mysql:host=127.0.0.1;port=3306;dbname=phive_tests" />
        <var name="db_pdo_mysql_username" value="root" />
        <var name="db_pdo_mysql_password" value="" />
        <var name="db_pdo_mysql_table_name" value="queue" />

        <var name="mongo_server" value="mongodb://127.0.0.1:27017" />
        <var name="mongo_db_name" value="phive_tests" />
        <var name="mongo_coll_name" value="queue" />

        <var name="redis_host" value="127.0.0.1" />
        <var name="redis_port" value="6379" />
        <var name="redis_prefix" value="phive_tests:queue:" />

        <var name="concurrency_queue_size" value="100" />

        <var name="benchmark_queue_size" value="1000" />
    </php>

    <testsuites>
        <testsuite name="Phive Queue Test Suite">
            <directory>./tests/Phive/</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>concurrency</group>
            <group>benchmark</group>
        </exclude>
    </groups>
</phpunit>
